.sp-page-builder .page-content #section-id-1525072298{margin:0px;padding:110px 0 145px 0;}
.sp-page-builder .page-content #section-id-1525072298 .sppb-section-title .sppb-title-heading {font-size:44px;line-height: 44px;}
.sp-page-builder .page-content #section-id-1525072298 .sppb-section-title .sppb-title-subheading {font-size:24px;}

#sppb-addon-1525072301 .sppb-addon-title {
color:#ffffff;}
#sppb-addon-1525072301 .sppb-icon .sppb-icon-container {display:inline-block;text-align:center;color:#ffffff;}#sppb-addon-1525072301 .sppb-icon .sppb-icon-container > i {font-size:62px;width:62px;height:62px;line-height:62px;}

#sppb-addon-1525072304 .sppb-addon-title {
color:#ffffff;}
#sppb-addon-1525072304 .sppb-icon .sppb-icon-container {display:inline-block;text-align:center;color:#ffffff;}#sppb-addon-1525072304 .sppb-icon .sppb-icon-container > i {font-size:48px;width:48px;height:48px;line-height:48px;}

#sppb-addon-1525072307 .sppb-addon-title {
color:#ffffff;}
#sppb-addon-1525072307 .sppb-icon .sppb-icon-container {display:inline-block;text-align:center;color:#ffffff;}#sppb-addon-1525072307 .sppb-icon .sppb-icon-container > i {font-size:48px;width:48px;height:48px;line-height:48px;}

#sppb-addon-1525072310 .sppb-addon-title {
color:#ffffff;}
#sppb-addon-1525072310 .sppb-icon .sppb-icon-container {display:inline-block;text-align:center;color:#ffffff;}#sppb-addon-1525072310 .sppb-icon .sppb-icon-container > i {font-size:48px;width:48px;height:48px;line-height:48px;}
.sp-page-builder .page-content #section-id-1525072311{margin:0px;padding:100px 0 0 0;background-image:url(/static/assets/images/2016/05/05/home-enroll-bg.jpg);background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}

#sppb-addon-1525072314 .sppb-empty-space {padding-bottom: 10px;}
#sppb-addon-1525072315 .sppb-addon-title {
margin-bottom:35px;color:#727375;font-size:28px;line-height:28px;}
#sppb-addon-1525072315 .sppb-addon-cta {padding: 40px 20px;}

.sp-page-builder .page-content #section-id-1525072318{margin:0px;padding:110px 0;}
.sp-page-builder .page-content #section-id-1525072318 .sppb-section-title .sppb-title-heading {font-size:44px;line-height: 44px;margin-bottom:20px;}
.sp-page-builder .page-content #section-id-1525072318 .sppb-section-title .sppb-title-subheading {font-size:24px;}
.sp-page-builder .page-content #section-id-1525072321{margin:0px;padding:75px 0 110px 0;background-image:url(/static/assets/images/2016/05/05/home-school-facilities-bg.jpg);}

#sppb-addon-1525072324 .sppb-empty-space {padding-bottom: 20px;}
#sppb-addon-1525072325 .sppb-addon-title {
font-size:44px;line-height:44px;}
.sp-page-builder .page-content #section-id-1525072326{margin:60px 0 0 0;}
#sppb-addon-1525072328 .sppb-addon-title {
font-size:21px;line-height:0px;}
#sppb-addon-1525072328 .sppb-icon .sppb-icon-container {display:inline-block;text-align:center;color:#0072bc;}#sppb-addon-1525072328 .sppb-icon .sppb-icon-container > i {font-size:48px;width:48px;height:48px;line-height:48px;}
#sppb-addon-1525072330 .sppb-addon-title {
font-size:20px;line-height:20px;}

#sppb-addon-1525072332 .sppb-addon-title {
font-size:20px;line-height:20px;}

#sppb-addon-1525072334 .sppb-addon-title {
font-size:20px;line-height:20px;}

.sp-page-builder .page-content #section-id-1525072335{margin:0px;padding:110px 0 90px 0;background-image:url(/static/assets/images/2016/05/09/team-bg.png);background-repeat:no-repeat;background-position:50% 50%;}
.sp-page-builder .page-content #section-id-1525072335 .sppb-section-title .sppb-title-heading {font-size:44px;line-height: 44px;margin-bottom:20px;}
.sp-page-builder .page-content #section-id-1525072335 .sppb-section-title .sppb-title-subheading {font-size:24px;}
.sp-page-builder .page-content #section-id-1525072344{margin:0px;padding:75px 0 150px 0;background-image:url(/static/assets/images/2016/05/05/home-testimonial-bg.jpg);background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
.sp-page-builder .page-content #section-id-1525072347{margin:0px;padding:110px 0;background-image:url(/static/assets/images/2016/05/10/news-bg.png);background-repeat:no-repeat;background-attachment:fixed;background-position:50% 50%;}
.sp-page-builder .page-content #section-id-1525072347 .sppb-section-title .sppb-title-heading {font-size:36px;line-height: 36px;}
.sp-page-builder .page-content #section-id-1525072347 .sppb-section-title .sppb-title-subheading {font-size:24px;}
.sp-page-builder .page-content #section-id-1525072350{margin:0px;padding:55px 0;background-image:url(/static/assets/images/2016/05/05/home-bottom-cta-bg.jpg);}
#sppb-addon-1525072352 .sppb-addon-title {
margin-bottom:0px;font-size:32px;line-height:32px;}
#sppb-addon-1525072352 .sppb-addon-cta {padding: 40px 20px;}
.sp-page-builder .page-content #section-id-1525072353{margin:0px;padding:120px 0;}
#sppb-addon-1525072355 .sppb-addon-title {
color:#f7941d;font-size:20px;line-height:20px;}

#sppb-addon-1525072357 .sppb-addon-title {
color:#0072bc;font-size:20px;line-height:20px;}

#sppb-addon-1525072359 .sppb-addon-title {
color:#8dc63f;font-size:20px;line-height:20px;}

#sppb-addon-1525072361 .sppb-addon-title {
color:#f26d7d;font-size:20px;line-height:20px;}

body{font-family:Sniglet, sans-serif; font-size:16px; font-weight:normal; }
h1{font-family:Sniglet, sans-serif; font-size:100px; font-weight:normal; }
h2{font-family:Sniglet, sans-serif; font-size:44px; font-weight:normal; }
h3{font-family:Sniglet, sans-serif; font-size:28px; font-weight:normal; }
h4{font-family:Sniglet, sans-serif; font-size:20px; font-weight:normal; }
h5{font-family:Sniglet, sans-serif; font-size:18px; font-weight:normal; }
.sppb-slidehsow-sub-title{font-family:Flavors, sans-serif; font-weight:normal; }
#sp-top-bar{ color:#ffffff;padding:12px 0; }
#sp-bottom{ background-image:url("/static/assets/images/demo/bottom-bg.png");background-attachment:fixed;padding:80px 0 305px 0; }


.list-page-detail{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 68px;
	white-space: nowrap;
}