<section id="sp-bottom">
         <div class="container">
            <div class="row">
               <div id="sp-bottom1" class="col-sm-6 col-md-4">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <div class="sp-module-content">
                           <div class="custom">
                              <p><img src="" alt="" /></p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                              <p class="copyright">©2018 App Shop Tech</p>
                              <ul>
                                 <li><a href="#"><i class="fa fa-facebook"><span class="dummy-text">asdf</span></i></a></li>
                                 <li><a href="#"><i class="fa fa-google-plus"><span class="dummy-text">asdf</span></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter"><span class="dummy-text">asdf</span></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram"><span class="dummy-text">asdf</span></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="sp-bottom2" class="col-sm-6 col-md-2">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Quick Link</h3>
                        <div class="sp-module-content">
                           <ul class="nav menu">
                              <li class="item-481"><a href="#">Home</a></li>
                              <li class="item-482"><a href="#">About</a></li>
                              <li class="item-483"><a href="#">Gallery</a></li>
                              <li class="item-484"><a href="#">Media</a></li>
                              <li class="item-526"><a href="#">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="sp-bottom3" class="col-sm-6 col-md-2">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Classes</h3>
                        <div class="sp-module-content">
                           <ul class="nav menu">
                              <li class="item-527"><a href="#">Happy Kiddo</a></li>
                              <li class="item-528"><a href="#">Junior Lambs</a></li>
                              <li class="item-529"><a href="#">Master Mind</a></li>
                              <li class="item-530"><a href="#">Rabbit House</a></li>
                              <li class="item-531"><a href="#">Terrific Tigers</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="sp-bottom4" class="col-sm-6 col-md-4">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Newsletter</h3>
                        <div class="sp-module-content">
                           <div class="acymailing_module" id="acymailing_module_formAcymailing57801">
                              <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing57801">
                                 <form id="formAcymailing57801" action="http://demo.joomshaper.com/2016/kidzy/index.php/en/" onsubmit="return submitacymailingform('optin','formAcymailing57801')" method="post" name="formAcymailing57801">
                                    <div class="acymailing_module_form">
                                       <div class="acymailing_introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit,.
                                          sed do eiusmod tempor incididunt.
                                       </div>
                                       <div class="acymailing_form">
                                          <p class="onefield fieldacyemail" id="field_email_formAcymailing57801"> <span class="acyfield_email acy_requiredField"><input id="user_email_formAcymailing57801" onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" style="width:100%" value="E-mail" title="E-mail" /></span></p>
                                          <p class="acysubbuttons">
                                             <input class="button subbutton btn btn-primary" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing57801'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                          </p>
                                       </div>
                                       <input type="hidden" name="ajax" value="0" />
                                       <input type="hidden" name="acy_source" value="module_122" />
                                       <input type="hidden" name="ctrl" value="sub" />
                                       <input type="hidden" name="task" value="notask" />
                                       <input type="hidden" name="redirect" value="http%3A%2F%2Fdemo.joomshaper.com%2F2016%2Fkidzy%2Findex.php%2Fen%2F" />
                                       <input type="hidden" name="redirectunsub" value="http%3A%2F%2Fdemo.joomshaper.com%2F2016%2Fkidzy%2Findex.php%2Fen%2F" />
                                       <input type="hidden" name="option" value="com_acymailing" />
                                       <input type="hidden" name="hiddenlists" value="1" />
                                       <input type="hidden" name="acyformname" value="formAcymailing57801" />
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="offcanvas-menu">
      <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
      <div class="offcanvas-inner">
      <div class="sp-module ">
         <h3 class="sp-module-title">Search</h3>
         <div class="sp-module-content">
            <div class="search">
               <form action="http://demo.joomshaper.com/2016/kidzy/index.php/en/" method="post">
                  <input name="searchword" maxlength="200" class="mod-search-searchword inputbox search-query" type="text" size="20" placeholder="Search ..." /> <input type="hidden" name="task" value="search" />
                  <input type="hidden" name="option" value="com_search" />
                  <input type="hidden" name="Itemid" value="551" />
               </form>
            </div>
         </div>
      </div>
      <div class="sp-module ">
      <div class="sp-module-content">
         <ul class="nav menu">
            <li class="item-437 deeper parent"><a href="SSM/index.html">Home</a></li>
            <li class="sp-menu-item sp-has-child">
               <a href="#">SSMS</a>
               <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                  <div class="sp-dropdown-inner">
                     <ul class="sp-dropdown-items">
                        <li class="sp-menu-item"><a href="SSMS/courses.html">Courses</a></li>
                        <li class="sp-menu-item"><a href="SSMS/teachers.html">Teachers</a></li>
                        <li class="sp-menu-item"><a href="SSM/Class Routines.html">Class Routines</a></li>
                        <li class="sp-menu-item"></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="sp-menu-item sp-has-child">
               <a href="#">About Us</a>
               <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                  <div class="sp-dropdown-inner">
                     <ul class="sp-dropdown-items">
                        <li class="sp-menu-item"><a href="About Us/about-us.html">About Us</a></li>
                        <li class="sp-menu-item"></li>
                        <li class="sp-menu-item"><a href="About Us/contact-us.html">Contact Us</a></li>
                        <li class="sp-menu-item"></li>
                        <li class="sp-menu-item"></li>
                        <li class="sp-menu-item"><a href="../../index114a.html?tmpl=comingsoon">Coming Soon</a></li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="sp-menu-item sp-has-child">
               <a href="Media.html">Media</a>
               <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 240px;">
                  <div class="sp-dropdown-inner">
                     <ul class="sp-dropdown-items">
                        <li class="sp-menu-item"></li>
                        <li class="sp-menu-item"><a href="Media/News-And-Events.html">News And Events</a></li>
                        <li class="sp-menu-item"><a href="Media/photo-gallery.html">Gallery</a></li>
                        <li class="sp-menu-item sp-has-child">
                           <a href="#">Post Formats</a>
                           <div class="sp-dropdown sp-dropdown-sub sp-menu-right" style="width: 240px;">
                              <div class="sp-dropdown-inner">
                                 <ul class="sp-dropdown-items">
                                    <li class="sp-menu-item"><a href="Media/post-formats/standard-post-format.html">Standard Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/video-post-format.html">Video Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/audio-post-format.html">Audio Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/gallery-post-format.html">Gallery Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/link-post-format.html">Link Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/quote-post-format.html">Quote Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/status-post-format.html">Status Post Format</a></li>
                                    <li class="sp-menu-item"><a href="Media/post-formats/image-post-format.html">Image Post Format</a></li>
                                 </ul>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </li>
            <li class="sp-menu-item sp-has-child">
               <a href="#">Profile!</a>
               <div class="sp-dropdown sp-dropdown-main sp-dropdown-mega sp-menu-full container" style="">
                  <div class="sp-dropdown-inner">
                     <div class="row">
                        <div class="col-sm-3">
                           <ul class="sp-mega-group">
                              <li class="sp-menu-item sp-has-child">
                                 <a class="sp-group-title" href="#">Academics</a>
                                 <ul class="sp-mega-group-child sp-dropdown-items">
                                    <li class="sp-menu-item"><a href="Profile/Academics/awards.html">Toppers</a></li>
                                    <li class="sp-menu-item"><a href="Profile/Academics/orientationprogram.html">Orientation Program</a></li>
                                    <li class="sp-menu-item"><a href="Profile/Academics/awards.html">Awards</a></li>
                                    <li class="sp-menu-item"><a href="Profile/content-component/featured-articles.html"></a></li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                        <div class="col-sm-3">
                           <ul class="sp-mega-group">
                              <li class="sp-menu-item sp-has-child">
                                 <a class="sp-group-title" href="#">Beyond Academics</a>
                                 <ul class="sp-mega-group-child sp-dropdown-items">
                                    <li class="sp-menu-item"><a href="Profile/Beyond Academics/sports.html">Sports</a></li>
                                    <li class="sp-menu-item"><a href="Profile/Beyond Academics/co-curricular.html">Co-Carricular</a></li>
                                    <li class="sp-menu-item"><a href="Profile/Beyond Academics/Extra-Carricular.html">Extra-Carricular</a></li>
                                    <li class="sp-menu-item"><a href="Profile/contact-component/featured-contacts.html"></a></li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                        <div class="col-sm-3">
                           <ul class="sp-mega-group">
                              <li class="sp-menu-item sp-has-child">
                                 <a class="sp-group-title" href="#">Infrastructure</a>
                                 <ul class="sp-mega-group-child sp-dropdown-items">
                                    <li class="sp-menu-item"><a href="Profile/infrastructure/facilities.html">Facilities</a></li>
                                    <li class="sp-menu-item"><a href="Profile/infrastructure/smartclass.html">Smart Class </a></li>
                                    <li class="sp-menu-item"><a href="Profile/infrastructure/lifeatschool.html">Life At School</a></li>
                                    <li class="sp-menu-item"><a href="Profile/users-component/registration-form.html"></a></li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                        <div class="col-sm-3">
                           <ul class="sp-mega-group">
                              <li class="sp-menu-item sp-has-child">
                                 <a class="sp-group-title" href="#"></a>
                                 <ul class="sp-mega-group-child sp-dropdown-items">
                                    <li class="sp-menu-item sp-has-child">
                                       <a href="Profile/other-components/news-feeds-component.html"></a>
                                       <div class="sp-dropdown sp-dropdown-sub sp-menu-right" style="width: 240px;left: -240px;">
                                          <div class="sp-dropdown-inner">
                                             <ul class="sp-dropdown-items">
                                                <li class="sp-menu-item"><a href="Profile/other-components/news-feeds-component/new-feed-categories.html"></a></li>
                                                <li class="sp-menu-item"><a href="Profile/other-components/news-feeds-component/single-news-feed.html"></a></li>
                                                <li class="sp-menu-item"><a href="Profile/other-components/news-feeds-component/news-feed-category.html"></a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="sp-menu-item"><a href="Profile/other-components/search-component.html"></a></li>
                                    <li class="sp-menu-item"><a href="Profile/other-components/smart-search.html"></a></li>
                                    <li class="sp-menu-item"><a href="Profile/other-components/search.html"></a></li>
                                 </ul>
                              </li>
                           </ul>
            </li>
         </ul>
         </div></div>