<section id="sp-bottom">
         <div class="container">
            <div class="row">
               <div id="sp-bottom1" class="col-sm-6 col-md-4">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <div class="sp-module-content">
                           <div class="custom">
                              <!-- <p><img src="" alt="" /></p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                              <p class="copyright">©2018 App Shop Tech</p> -->
                              <ul>
                                 <li><a href="https://www.facebook.com/ssms.singai.9?ref=bookmarks" target="_blank"><i style="font-size: 50px;" class="fa fa-facebook"><span class="dummy-text">asdf</span></i></a></li>
                                 <!--<li><a href="#">
                                     <i class="fa fa-google-plus"><span class="dummy-text">asdf</span></i></a></li> -->
                                 <li><a href="https://twitter.com/SsMatric" target="_blank"><i style="font-size: 50px;" class="fa fa-twitter"><span class="dummy-text">asdf</span></i></a></li>
                                <!--  <li>
                                    <a href="#">
                                    <i class="fa fa-instagram"><span class="dummy-text">asdf</span></i></a></li> -->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- <div id="sp-bottom2" class="col-sm-6 col-md-2">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Quick Link</h3>
                        <div class="sp-module-content">
                           <ul class="nav menu">
                              <li class="item-481"><a href="#">Home</a></li>
                              <li class="item-482"><a href="#">About</a></li>
                              <li class="item-483"><a href="#">Gallery</a></li>
                              <li class="item-484"><a href="#">Media</a></li>
                              <li class="item-526"><a href="#">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- <div id="sp-bottom3" class="col-sm-6 col-md-2">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Classes</h3>
                        <div class="sp-module-content">
                           <ul class="nav menu">
                              <li class="item-527"><a href="#">Happy Kiddo</a></li>
                              <li class="item-528"><a href="#">Junior Lambs</a></li>
                              <li class="item-529"><a href="#">Master Mind</a></li>
                              <li class="item-530"><a href="#">Rabbit House</a></li>
                              <li class="item-531"><a href="#">Terrific Tigers</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="sp-bottom4" class="col-sm-6 col-md-4">
                  <div class="sp-column ">
                     <div class="sp-module ">
                        <h3 class="sp-module-title">Newsletter</h3>
                        <div class="sp-module-content">
                           <div class="acymailing_module" id="acymailing_module_formAcymailing57801">
                              <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing57801">
                                 <form id="formAcymailing57801" action="http://demo.joomshaper.com/2016/kidzy/index.php/en/" onsubmit="return submitacymailingform('optin','formAcymailing57801')" method="post" name="formAcymailing57801">
                                    <div class="acymailing_module_form">
                                       <div class="acymailing_introtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit,.
                                          sed do eiusmod tempor incididunt.
                                       </div>
                                       <div class="acymailing_form">
                                          <p class="onefield fieldacyemail" id="field_email_formAcymailing57801"> <span class="acyfield_email acy_requiredField"><input id="user_email_formAcymailing57801" onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" style="width:100%" value="E-mail" title="E-mail" /></span></p>
                                          <p class="acysubbuttons">
                                             <input class="button subbutton btn btn-primary" type="submit" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing57801'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                          </p>
                                       </div>
                                       <input type="hidden" name="ajax" value="0" />
                                       <input type="hidden" name="acy_source" value="module_122" />
                                       <input type="hidden" name="ctrl" value="sub" />
                                       <input type="hidden" name="task" value="notask" />
                                       <input type="hidden" name="redirect" value="http%3A%2F%2Fdemo.joomshaper.com%2F2016%2Fkidzy%2Findex.php%2Fen%2F" />
                                       <input type="hidden" name="redirectunsub" value="http%3A%2F%2Fdemo.joomshaper.com%2F2016%2Fkidzy%2Findex.php%2Fen%2F" />
                                       <input type="hidden" name="option" value="com_acymailing" />
                                       <input type="hidden" name="hiddenlists" value="1" />
                                       <input type="hidden" name="acyformname" value="formAcymailing57801" />
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </section>