{% extends "_layouts/base.html" %}
{% block page_title %}SS MATRIC - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
   <section id="sp-page-title">
         <div class="row">
            <div id="sp-title" class="col-sm-12 col-md-12">
               <div class="sp-column ">
                  <div class="sp-page-title" style="background-image: url(../../../images/demo/subheader.png);">
                     <div class="container">
                        <h2>Contact Us</h2>
                        <ol class="breadcrumb">
                           <li><i class="fa fa-home"></i></li>
                           <li><a href="../index.html" class="pathway">Home</a></li>
                           <li><a href="#" class="pathway">Pages</a></li>
                           <li class="active">Contact Us</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="sp-main-body">
         <div class="row">
            <div id="sp-component" class="col-sm-12 col-md-12">
               <div class="sp-column ">
                  <div id="system-message-container"></div>
                  <div id="sp-page-builder" class="sp-page-builder  page-9">
                     <div class="page-content">
                        <div id="section-id-1525072331" class="sppb-section ">
                           <div class="sppb-container-inner">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072332" class="sppb-column ">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072333" class="clearfix">
                                             <div id="sppb-addon-map-1525072333" class="sppb-addon sppb-addon-gmap ">
                                                <div class="sppb-addon-content">
                                                   <div id="sppb-addon-gmap-1525072333" class="sppb-addon-gmap-canvas" data-lat="40.712784" data-lng="-74.005941" data-maptype="ROADMAP" data-mapzoom="15" data-mousescroll="false" data-water_color="#d3d3d3" data-highway_stroke_color="#a2a2a2" data-highway_fill_color="#bdbdbd" data-local_stroke_color="#ffffff" data-local_fill_color="#ffffff" data-poi_fill_color="#ebebeb" data-administrative_color="#a7a7a7" data-landscape_color="#efefef " data-road_text_color="#696969" data-road_arterial_fill_color="#efefef" data-road_arterial_stroke_color="#efefef"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <section id="section-id-1525072334" class="sppb-section  spb-res-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072335" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072336" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Class Sessions</h4>
                                                   <div class="sppb-addon-text">Sat - Fri (8 am – 2 pm)<br />Sun - Mon (8 am – 11 am)</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072337" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072338" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">SSMS Address</h4>
                                                   <div class="sppb-addon-text">123 White Amphitheatre Kinway,<br />Mountain, CA 12345, USA</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072339" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072340" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Office Hours</h4>
                                                   <div class="sppb-addon-text">Monday – Friday<br />8.00 am – 5.00 pm</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072341" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072342" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Phone & E-mail</h4>
                                                   <div class="sppb-addon-text">+123 456 78910<br /><a href="http://demo.joomshaper.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ff9a918d909393bf94969b8586d19c9092">[email&#160;protected]</a></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                        <section id="section-id-1525072343" class="sppb-section  kidzy-contact-form">
                           <div class="sppb-row-container">
                              <div class="sppb-section-title sppb-text-center">
                                 <h2 class="sppb-title-heading"></br><span>Need any help, send us your comments</span></h2>
                              </div>
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072344" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072345" class="clearfix">
                                             <div class="sppb-addon sppb-addon-ajax-contact ">
                                                <div class="sppb-ajax-contact-content">
                                                   <form class="sppb-ajaxt-contact-form">
                                                      <div class="sppb-input-group">
                                                         <div class="sppb-form-group"><input type="text" name="name" class="sppb-form-control" placeholder="Name" required="required"></div>
                                                         <div class="sppb-form-group"><input type="email" name="email" class="sppb-form-control" placeholder="Email" required="required"></div>
                                                         <div class="sppb-form-group"><input type="text" name="subject" class="sppb-form-control" placeholder="Subject" required="required"></div>
                                                      </div>
                                                      <div class="sppb-form-group sppb-textarea"><textarea name="message" rows="5" class="sppb-form-control" placeholder="Message" required="required"></textarea></div>
                                                      <input type="hidden" name="recipient" value="ZW1haWxAeW91cmRvbWFpbi5jb20="><input type="hidden" name="from_email" value=""><input type="hidden" name="from_name" value=""><input type="hidden" name="captcha_type" value="default"><button type="submit" id="btn-1525072345" class="sppb-btn sppb-btn-primary"><i class="fa"></i> Send Message</button>
                                                   </form>
                                                   <div style="display:none;margin-top:10px;" class="sppb-ajax-contact-status"></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}