{% extends "_layouts/base.html" %}



{% block page_title %}SS MATRIC - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<section id="sp-page-title">
         <div class="row">
            <div id="sp-title" class="col-sm-12 col-md-12">
               <div class="sp-column ">
                  <div class="sp-page-title" style="background-image: url(/static/assets/images/demo/subheader.png);">
                     <div class="container">
                        <h2>Courses</h2>
                        <ol class="breadcrumb">
                           <li><i class="fa fa-home"></i></li>
                           <li><a href="../index.html" class="pathway">Home</a></li>
                           <li><a href="#" class="pathway">SSMS</a></li>
                           <li class="active">Courses</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
<section id="sp-main-body">
         <div class="container">
            <div class="row">
               <div id="sp-component" class="col-sm-12 col-md-12">
                  <div class="sp-column ">
                     <div id="system-message-container"></div>
                     <div id="akeeba-renderjoomla">
                        <div id="com-spkgarten" class="spkgarten spkgarten-view-courses">
                           <div id="sp-courses-filter">
                              <div class="spkgarten-row">
                                 <div class="spkgarten-col-sm-12">
                                    <ul class="courses-list spkgarten-pull-left">
                                       <li class="active"><a href="courses.html">Show All</a></li>
                                       <li class=""><a href="courses/classid/13-kindergarten.html">Kindergarten</a></li>
                                       <li class=""><a href="courses/classid/14-play-group.html">Play Group</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div id="sp-courses" class="sp-courses">
                              <div class="spkgarten-row">
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-1.jpg" alt="Happy Kiddo">
                                          <div class="sp-overlay">
                                             <a href="courses/2-happy-kiddo.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/2-happy-kiddo.html">Happy Kiddo</a></h3>
                                          <span class="admission-availability">Admission Close</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                2-3 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                24 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 140 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-2.jpg" alt="Junior Lambs">
                                          <div class="sp-overlay">
                                             <a href="courses/3-junior-lambs.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/3-junior-lambs.html">Junior Lambs</a></h3>
                                          <span class="admission-availability">Admission Open</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                3-5 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                20 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 135 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-3.jpg" alt="Master Mind">
                                          <div class="sp-overlay">
                                             <a href="courses/4-master-mind.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/4-master-mind.html">Master Mind</a></h3>
                                          <span class="admission-availability">Admission Open</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                4-6 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                15 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 160 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="spkgarten-row">
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-4.jpg" alt="Happy Kiddo-1">
                                          <div class="sp-overlay">
                                             <a href="courses/5-happy-kiddo-1.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/5-happy-kiddo-1.html">Happy Kiddo-1</a></h3>
                                          <span class="admission-availability">Admission Close</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                2-3 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                24 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 165 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-5.jpg" alt="Junior Lambs-1">
                                          <div class="sp-overlay">
                                             <a href="courses/6-junior-lambs-1.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/6-junior-lambs-1.html">Junior Lambs-1</a></h3>
                                          <span class="admission-availability">Admission Open</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                3-5 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                20 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 150 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="spkgarten-col-sm-6 spkgarten-col-sm-4">
                                    <div class="sp-kidzy-course">
                                       <div class="course-img">
                                          <img src="/static/assets/images/2016/06/01/class-6.jpg" alt="Master Mind-1">
                                          <div class="sp-overlay">
                                             <a href="courses/7-master-mind-1.html" class="icon"><i class="spkgarten-icon-link"></i></a>
                                          </div>
                                       </div>
                                       <div class="course-description">
                                          <h3 class="course-name"><a href="courses/7-master-mind-1.html">Master Mind-1</a></h3>
                                          <span class="admission-availability">Admission Open</span>
                                          <ul class="course-info">
                                             <li class="age">
                                                <span>Years Old</span>
                                                4-6 
                                             </li>
                                             <li class="size">
                                                <span>Class Size</span>
                                                15 
                                             </li>
                                             <li class="fee">
                                                <span>Tution Fee</span>
                                                $ 120 
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}
