 {% extends "_layouts/base.html" %}
{% block page_title %}SS MATRIC - History{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
 <section id="sp-page-title">
            <div class="row">
               <div id="sp-title" class="col-sm-12 col-md-12">
                  <div class="sp-column ">
                     <div class="sp-page-title" style="background-image: url(../../../../images/demo/subheader.png);">
                        <div class="container">
                           <h2>History</h2>
                          
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="sp-main-body">
            <div class="container">
               <div class="row">
                  <div id="sp-component" class="col-sm-12 col-md-12">
                     <div class="sp-column ">
                        <div id="system-message-container"></div>
                        <div id="akeeba-renderjoomla">
                           <div id="spkgarten" class="spkgarten view-spkgarten-teacher">
                              <div class="spkgarten-row">
                                 <div class="spkgarten-container">
                                    <div class="spkgarten-teacher-details">
                                       <div id="teacher-timeline">

{% for history in historys %}
<div class="spkgarten-row timeline-movement {% if forloop.counter|divisibleby:2 %} even{% else %} odd{% endif %}">
   <div class="timeline-badge"> </div>
   {% if forloop.counter|divisibleby:2 %} 
   <div class="spkgarten-col-xs-6  timeline-item">
      <div class="timeline-panel left-part">
         <p class="title">{{ history.title }}</p>
         <p class="details">{{ history.comments }}</p>
      </div>
   </div>
   <div class="spkgarten-col-xs-6  timeline-item">
      <p class="timeline-date text-left">{{ history.date }}</p>
   </div>
   {% else %} 
<div class="spkgarten-col-xs-6  timeline-item">
      <p class="timeline-date text-right">{{ history.date }}</p>
   </div>
   <div class="spkgarten-col-xs-6  timeline-item">
      <div class="timeline-panel">
         <p class="title">{{ history.title }}</p>
         <p class="details">{{ history.comments }}</p>
      </div>
   </div>
   {% endif %}

   
</div>
{% endfor %}



                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         {% endblock %}