{% extends "_layouts/base.html" %}
{% load thumbnail %}
{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %}SS MATRIC - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<section id="sp-page-title">
         <div class="row">
            <div id="sp-title" class="col-sm-12 col-md-12">
               <div class="sp-column "></div>
            </div>
         </div>
      </section>
      <section id="sp-main-body">
         <div class="row">
            <div id="sp-component" class="col-sm-12 col-md-12">
               <div class="sp-column ">
                  <div id="system-message-container"></div>
                  <div id="sp-page-builder" class="sp-page-builder  page-1">
                     <div class="page-content">
                        <div id="section-id-1525072295" class="sppb-section ">
                           <div class="sppb-container-inner">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072296" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072297" class="clearfix">
                                             <div class="sppb-addon sppb-slider-wrapper sppb-slider-fullwidth-wrapper owl-theme varition-animation" style="background-image: url(/static/assets/images/2016/05/10/slider-bg.png);">
                                                <div class="sppb-slider-item-wrapper">
                                                   <div id="slide-fullwidth" class="owl-carousel" data-sppb-slide-ride="true">
                                                      {% for banner in banners %}
                                                       <div class="sppb-slideshow-fullwidth-item item">
                                                         <div class="sppb-slide-item-bg sppb-slideshow-fullwidth-item-bg">
                                                            <div class="container">
                                                               <div class="row">
                                                                  <div class="col-sm-6">
                                                                     <div class="sppb-slideshow-fullwidth-item-text">
                                                                        <h1 class="sppb-fullwidth-title  sppb-wow fadeInLeftBig"> <small class="sppb-slidehsow-sub-title  sppb-wow fadeInLeftBig">{{ banner.caption }}</small>{{ banner.slide_text }} </h1>
                                                                        <div class="sppb-fw-slider-button-wrapper  sppb-wow fadeInLeftBig" data-sppb-wow-delay="500ms"> <a target="_self" href="#" class="btn btn-primary"> <span>Admission Now</span></a></div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="col-sm-6">
               <div class="slider-img"><img alt="" class="slide-cloud" src="/static/assets/images/demo/slider/slide-rain-cloud.png"><img alt="" class="slide-sun" src="/static/assets/images/demo/slider/slide-sun.png"><img alt="" class="slide-girl  sppb-wow zoomIn" src="{{ banner.image.url }}" data-sppb-wow-duration="600ms" data-sppb-wow-delay="300ms"></div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      {% endfor %}
                                                      <!-- <div class="sppb-slideshow-fullwidth-item item">
                                                         <div class="sppb-slide-item-bg sppb-slideshow-fullwidth-item-bg">
                                                            <div class="container">
                                                               <div class="row">
                                                                  <div class="col-sm-6">
                                                                     <div class="sppb-slideshow-fullwidth-item-text">
                                                                        <h1 class="sppb-fullwidth-title  sppb-wow fadeInUp"> <small class="sppb-slidehsow-sub-title  sppb-wow fadeInUp">Rules of</small>Healthy Development. </h1>
                                                                        <div class="sppb-fw-slider-button-wrapper  sppb-wow fadeInUp" data-sppb-wow-delay="500ms"> <a target="_self" href="#" class="btn btn-primary"> <span>Admission Now</span></a></div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="col-sm-6">
                                                                     <div class="slider-img"><img alt="" class="slide-circle" src="/static/assets/images/demo/slider/slide-circle.png"><img alt="" class="slide-cloud" src="/static/assets/images/demo/slider/slide-rain-cloud.png"><img alt="" class="slide-sun" src="/static/assets/images/demo/slider/slide-sun.png"><img alt="" class="slide-girl  sppb-wow fadeInLeft" src="/static/assets/images/2016/05/12/child2.png" data-sppb-wow-duration="600ms" data-sppb-wow-delay="300ms"></div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div> -->
                                                   </div>
                                                </div>
                                                <div class="customNavigation"><a class="sppbSlidePrev"><i class="fa fa-angle-left"></i></a><a class="sppbSlideNext"><i class="fa fa-angle-right"></i></a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                      <!--   <section id="section-id-1525072298" class="sppb-section  sp-kidzy-featured-list spb-res-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-section-title sppb-text-center">
                                 <h2 class="sppb-title-heading">Welcome to SSM</h2>
                                 <p class="sppb-title-subheading">Starting with the new school year in our kindergarten</p>
                              </div>
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072299" class="sppb-column  sppb-wow fadeInDown" data-sppb-wow-duration="300ms" data-sppb-wow-delay="100ms">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072300" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/04/home-feature-01.jpg" alt="image"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072301" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-icon"><span class="sppb-icon-container"><i class="kd kidzy-icon-reader"></i></span></div>
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Active Learning</h4>
                                                   <div class="sppb-addon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072302" class="sppb-column  sppb-wow fadeInDown" data-sppb-wow-duration="500ms" data-sppb-wow-delay="200ms">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072303" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/04/home-feature-02.jpg" alt="image"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072304" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-icon"><span class="sppb-icon-container"><i class="kd kidzy-icon-music-class"></i></span></div>
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Music Lessons</h4>
                                                   <div class="sppb-addon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072305" class="sppb-column  sppb-wow fadeInDown" data-sppb-wow-duration="500ms" data-sppb-wow-delay="300ms">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072306" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/04/home-feature-03.jpg" alt="image"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072307" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-icon"><span class="sppb-icon-container"><i class="kd kidzy-icon-teacher"></i></span></div>
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Professional Teachers</h4>
                                                   <div class="sppb-addon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072308" class="sppb-column  sppb-wow fadeInDown" data-sppb-wow-duration="500ms" data-sppb-wow-delay="400ms">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072309" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/04/home-feature-04.jpg" alt="image"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072310" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-icon"><span class="sppb-icon-container"><i class="kd kidzy-icon-parents"></i></span></div>
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Parents Day</h4>
                                                   <div class="sppb-addon-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section> -->
                        <section id="section-id-1525072311" class="sppb-section ">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072312" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072313" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-left ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/05/home-enroll-section-" alt=""></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072314" class="clearfix">
                                             <div class="sppb-empty-space  clearfix"></div>
                                          </div>
                                          <div id="sppb-addon-1525072315" class="clearfix">
                                             <div class="sppb-addon sppb-addon-cta ">
                                                <div>
                                                   <h3 class="sppb-addon-title sppb-cta-title"> Our Goal</h3>
                                                   <p >Sri Sevugamoorthy School on a pedestal of emote today has a mission statement which is inspired by a dream to save society, planting seeds of patriotism, provide holistic education in assimilating new frontiers of knowledge and discover the countries of skills and competencies in the guest for excellence, anchoring as valuable instruments of service to the nation.</p>
                                                   <p>Like a sculptor who chisels stones into beautiful statues we nurture kids for a better tomorrow. </p>
                                                   <p>Our primary aim is to foster in students a spirit of enquiry, develop the essential qualities of honesty, trust, integrity, courage and instill self-efficacy and self-competitive world and equip them with positive behavior, knowledge, leadership skills and an understanding of human values and ethics. We need to bring about a good society in which all human beings can live happily in peace, without violence, with security. The school provides a pleasing learning environment with a spirit of caring and sharing and with closed bonds between teachers and students. </p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                        </section>

                        <section id="section-id-1525072311" class="sppb-section ">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072312" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072313" class="clearfix">
                                             <div class="sppb-addon sppb-addon-single-image sppb-text-left ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-addon-single-image-container"><img class="sppb-img-responsive" src="/static/assets/images/2016/05/05/home-enroll-section-" alt=""></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div id="sppb-addon-1525072314" class="clearfix">
                                             <div class="sppb-empty-space  clearfix"></div>
                                          </div>
                                          <div id="sppb-addon-1525072315" class="clearfix">
                                             <div class="sppb-addon sppb-addon-cta ">
                                                <div>
                                                   <h3 class="sppb-addon-title sppb-cta-title"> Our Vision & mission</h3>
                                                   <p >“If your plan is for a year, plant Rice<br>
If your plan is for a decade, plant Trees<br>
If your plan is for a lifetime, educate Children”
</p>
                                                   <p >Our school is committed to academic excellence, holistic development and value based Hi-tech education, by providing healthy and supportive environment, where students irrespective of gender, capability or economic background are nurtured to be self - directed, life - long learners.
</p>
                                                   
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 
                              </div>
                           </div>
                        </section>
                        
                        
                        <section id="section-id-1525072335" class="sppb-section  spb-res-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-section-title sppb-text-center">
                                 <h2 class="sppb-title-heading">Builders Of Our School</h2>
                                 <p class="sppb-title-subheading"></p>
                              </div>
                              <div class="sppb-row">
                                 {% for tec in home_teachers%}
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072336" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072337" class="clearfix">
                                             <div class="sppb-addon sppb-addon-persion sppb-text-center ">
                                                <div class="sppb-addon-content">
                                                   <div class="sppb-person-image">
                                                      {% if tec.image %}
                                                      <img class="sppb-img-responsive" src="{{ tec.image.url }}" alt="{{ tec.name }}">
                                                      {% endif %}
                                                   </div>
                                                   <div class="sppb-person-information"><span class="sppb-person-name">{{ tec.name }}</span><span class="sppb-person-designation">{{ tec.position }}</span></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                {% endfor %}
                              </div>
                           </div>
                        </section>
                        <section id="section-id-1525072344" class="sppb-section  spb-res-mixed-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072345" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072346" class="clearfix">
                                             <div id="sppb-testimonial-pro-1525072346" class="sppb-carousel sppb-testimonial-pro sppb-slide sppb-text-center" data-sppb-ride="sppb-carousel">
                                                <div class="sppb-carousel-inner">
                                                   {% for feedback in parent_feedbacks%}
                                                   <div class="sppb-item">
                                                      <div class="sppb-testimonial-img">
                                                         {% if feedback.image %}<img class="sppb-img-responsive sppb-avatar sppb-img-circle" src="{{ feedback.image.url }}" alt="">{% endif %}</div>
                                                      <div class="sppb-testimonial-client">
                                                         <i class="kd kidzy-icon-testimonial"></i>
                                                         <p class="pro-client-name">{{ feedback.name }}</p>
                                                      </div>
                                                      <p class="pro-client-position">Parents</p>
                                                      <div class="sppb-testimonial-message">{{ feedback.comments}}</div>
                                                   </div>
                                                   {% endfor %}
                                                  <!--  <div class="sppb-item ">
                                                      <div class="sppb-testimonial-img"><img class="sppb-img-responsive sppb-avatar sppb-img-circle" src="/static/assets/images/2016/05/05/testimonial02.jpg" alt=""></div>
                                                      <div class="sppb-testimonial-client">
                                                         <i class="kd kidzy-icon-testimonial"></i>
                                                         <p class="pro-client-name">Fanny Greer</p>
                                                      </div>
                                                      <p class="pro-client-position">Parents</p>
                                                      <div class="sppb-testimonial-message">“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.”</div>
                                                   </div>
                                                   <div class="sppb-item ">
                                                      <div class="sppb-testimonial-img"><img class="sppb-img-responsive sppb-avatar sppb-img-circle" src="/static/assets/images/2016/05/05/testimonial03.jpg" alt=""></div>
                                                      <div class="sppb-testimonial-client">
                                                         <i class="kd kidzy-icon-testimonial"></i>
                                                         <p class="pro-client-name">Rhoda Byrd</p>
                                                      </div>
                                                      <p class="pro-client-position">Parents</p>
                                                      <div class="sppb-testimonial-message">“ Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.”</div>
                                                   </div> -->
                                                </div>
                                                <ol class="sppb-carousel-indicators">
                                                   <li data-sppb-target="#sppb-carousel-1525072346" class="active" data-sppb-slide-to="0"></li>
                                                   <li data-sppb-target="#sppb-carousel-1525072346" data-sppb-slide-to="1"></li>
                                                   <li data-sppb-target="#sppb-carousel-1525072346" data-sppb-slide-to="2"></li>
                                                </ol>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                        <section id="section-id-1525072347" class="sppb-section  spb-res-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-section-title sppb-text-center">
                                 <h2 class="sppb-title-heading">Latest Events</h2>
                                 <p class="sppb-title-subheading">Starting with the new school year in our kindergarten</p>
                              </div>
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12">
                                    <div id="column-id-1525072348" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072349" class="clearfix">
                                             <div class="sppb-addon sppb-addon-module ">
                                                <div class="sppb-addon-content">
                                                   <div id="sp-kindergarten-events139" class="spkgarten	 sp-kindergarten-events-wrapper ">
                                                      <div class="spkgarten-row">
   {% for news_and_event in news_and_events%}
   <div class="sp-kidzy-event spkgarten-col-xs-12 spkgarten-col-sm-6 spkgarten-col-md-3">
      <div class="events-img">
         {% for img in news_and_event.news_and_event_images.all %}
                                          {% if forloop.first %}
                                          {% thumbnail img.image "263x172" crop="center" as im %}
       
         <img src="{{ im.url }}">
                      {% endthumbnail %}
         <div class="sp-overlay">
            <a href="SSMS/Class Routines/2-lorem-ipsum-dolor-sit-amet-consectetur-adipisicing.html" class="icon"><i class="spkgarten-icon-link"></i></a>
         </div>
         {% endif %}
         {% endfor %}
      </div>
      <div class="event-description">
         <span class="event-date">
         <span>{{ news_and_event.date|date:"d" }}</span>
         {{ news_and_event.date|date:"M" }} </span>
         <h5 class="event-title"><a href="{% url 'news_and_event_detail' news_and_event.id %}">{{ news_and_event.title }}</a></h5>
         <ul class="event-info">
            <li><span>Date: </span>{{ news_and_event.date|date:"d M, Y" }} </li>
         </ul>
      </div>
   </div>
   {% endfor %}
                                                     
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                        <section id="section-id-1525072350" class="sppb-section  home1-bottom-cta">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-12 ">
                                    <div id="column-id-1525072351" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072352" class="clearfix">
                                             <div class="sppb-addon sppb-addon-cta sp-kidzy-major-color">
                                                <div class="sppb-row">
                                                   <div class="sppb-col-sm-8">
                                                      <h3 class="sppb-addon-title sppb-cta-title">Enrollment is now going on, please contact us.</h3>
                                                   </div>
                                                   <div class="sppb-col-sm-4 sppb-text-right"><a href="#" id="btn-1525072352" class="sppb-btn sppb-btn-primary sppb-btn-rounded">Enroll Now</a></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                        <section id="section-id-1525072353" class="sppb-section  spb-res-padding">
                           <div class="sppb-row-container">
                              <div class="sppb-row">
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072354" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072355" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Class Sessions</h4>
                                                   <div class="sppb-addon-text">Sat - Fri (8 am – 2 pm)<br />Sun - Mon (8 am – 11 am)</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072356" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072357" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Kidzy Address</h4>
                                                   <div class="sppb-addon-text">123 White Amphitheatre Kinway,<br />Mountain, CA 12345, USA</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072358" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072359" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Office Hours</h4>
                                                   <div class="sppb-addon-text">Monday – Friday<br />8.00 am – 5.00 pm</div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="sppb-col-sm-3">
                                    <div id="column-id-1525072360" class="sppb-column">
                                       <div class="sppb-column-addons">
                                          <div id="sppb-addon-1525072361" class="clearfix">
                                             <div class="sppb-addon sppb-addon-feature sppb-text-center ">
                                                <div class="svg-overlay">
                                                   <svg version="1.1" id="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 250" enable-background="new 0 0 500 250" xml:space="preserve" PreserveAspectRatio="none">
                                                      <path d="M250,246.5c-97.85,0-186.344-40.044-250-104.633V250h500V141.867C436.344,206.456,347.85,246.5,250,246.5z" />
                                                   </svg>
                                                </div>
                                                <div class="sppb-addon-content">
                                                   <h4 class="sppb-addon-title sppb-feature-box-title">Phone & E-mail</h4>
                                                   <div class="sppb-addon-text">+123 456 78910<br /><a href="http://demo.joomshaper.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3e5b504c5152527e55575a4447105d5153">[email&#160;protected]</a></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

{% endblock %}
